[submodule "submodules/MatchedTransition"]
	path = submodules/MatchedTransition
	url = git@github.com:muukii/MatchedTransition.git
[submodule "submodules/CompositionKit"]
	path = submodules/CompositionKit
	url = git@github.com:muukii/CompositionKit.git
[submodule "submodules/ViewRepresentationKit"]
	path = submodules/ViewRepresentationKit
	url = git@github.com:muukii/ViewRepresentationKit.git
[submodule "submodules/MondrianLayout"]
	path = submodules/MondrianLayout
	url = git@github.com:muukii/MondrianLayout.git
[submodule "submodules/GeometryKit"]
	path = submodules/GeometryKit
	url = git@github.com:muukii/GeometryKit.git
[submodule "submodules/Descriptors"]
	path = submodules/Descriptors
	url = git@github.com:muukii/Descriptors.git
