[submodule "submodules/MatchedTransition"]
	path = submodules/MatchedTransition
	url = https://github.com/muukii/MatchedTransition.git
[submodule "submodules/CompositionKit"]
	path = submodules/CompositionKit
	url = https://github.com/muukii/CompositionKit.git
[submodule "submodules/ViewRepresentationKit"]
	path = submodules/ViewRepresentationKit
	url = https://github.com/muukii/ViewRepresentationKit.git
[submodule "submodules/MondrianLayout"]
	path = submodules/MondrianLayout
	url = https://github.com/muukii/MondrianLayout.git
[submodule "submodules/GeometryKit"]
	path = submodules/GeometryKit
	url = https://github.com/muukii/GeometryKit.git
[submodule "submodules/Descriptors"]
	path = submodules/Descriptors
	url = https://github.com/muukii/Descriptors.git
[submodule "submodules/Ne"]
	path = submodules/Ne
	url = https://github.com/muukii/Ne.git
[submodule "submodules/Rideau"]
	path = submodules/Rideau
	url = https://github.com/muukii/Rideau.git
