name: Build

on:
  push:
    branches: "**"
  pull_request:
    branches: "**"

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "26.0"
      - uses: actions/checkout@v2
      - name: Install xcbeautify
        run: brew install xcbeautify
      - name: Test
        run: set -o pipefail && xcodebuild -scheme "FluidInterfaceKit-Package" -destination 'generic/platform=iOS Simulator' | xcbeautify

  test:
    runs-on: macos-26

    steps:
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: "26.0"
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install xcbeautify
        run: brew install xcbeautify
      - name: Test
        run: set -o pipefail && xcodebuild -scheme "FluidInterfaceKit-Package" test -destination 'platform=iOS Simulator,name=iPhone 15 Pro,OS=17.0.1' -resultBundlePath results/FluidInterfaceKitTests.xcresult | xcbeautify
